*
!/data
!/data/*.py
!/modules
!/modules/*.py
!/tests/
!/tests/*.py
!/tests/pytest.ini
!/util
!/util/*.py
!/util/settings
!/util/settings/*.py
!/util/settings/tests
!/util/settings/tests/*.py
!main.py
!logo.png
!requirements.txt
!LICENSE.md
!README.md
!_bandit_run.bat
!_build_app_win.bat
!_build_app_win - UNPACKED.bat
!_pyright_run.bat
!pyrightconfig.json
!.gitignore