allure-pytest==2.13.1
allure-python-commons==2.13.1
asyncmock==0.4.2
bandit==1.7.5
mypy==1.1.1
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.1
PyQt5-stubs==5.15.6.0
pyright==1.1.300
pytest==7.2.2
pytest-asyncio==0.21.0
pytest-xdist==3.2.1
ruff==0.0.259
types-aiofiles==23.1.0.0
types-beautifulsoup4==4.12.0.0
types-html5lib==1.1.11.12
